---
  base_url: "https://download.maxmind.com/app/geoip_download?edition_id=GeoIP2-Country-CSV"
  date: "20180508"
  license_key: "ABC"
  suffux: "zip"
  ips: "GeoIP2-Country-Blocks-IPv4.csv"
  loc: "GeoIP2-Country-Locations-en.csv"
  countries: "China,Russia,Afganistan,Ukraine,Iraq,Iran,NorthKorea"
  zippath: "/opt/stackstorm/packs/geoip2/"
  webpath: "/opt/stackstorm/static/webui/"